        .button {
          background: #7f8c8d;
          color: #fff;
          display: inline-block;
          font-size: 1.25em;
          margin: 20px;
          padding: 10px 0px;
          text-align: center;
          width: 200px;
          text-decoration: none;
          box-shadow: 0px 3px 0px #373c3c;
        }
        .button span {
          margin-right: 10px;
        }
        .button.blue {
          background: #3498db;
          box-shadow: 0px 3px 0px #266792;
        }
        .button.radius {
          border-radius: 50px;
        }
        .button:hover {
          box-shadow: 0px 0px 0px;
          padding-top: 7px;
        }
        a:hover{
          text-decoration: none;
        }