@font-face {
  font-family: 'icomoon';
  src:  url('fonts/icomoon.eot?yjk01r');
  src:  url('fonts/icomoon.eot?yjk01r#iefix') format('embedded-opentype'),
    url('fonts/icomoon.ttf?yjk01r') format('truetype'),
    url('fonts/icomoon.woff?yjk01r') format('woff'),
    url('fonts/icomoon.svg?yjk01r#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-empagua:before {
  content: "\e903";
  color: #1d0e94;
}
.icon-iusi:before {
  content: "\e904";
  color: #1d0e94;
}
.icon-multas:before {
  content: "\e905";
  color: #1d0e94;
}
.icon-ornato:before {
  content: "\e906";
  color: #1d0e94;
}
.icon-bomberos:before {
  content: "\e900";
  color: #030e9e;
}
.icon-call-center:before {
  content: "\e901";
  color: #030e9e;
}
.icon-user:before {
  content: "\e902";
  color: #030e9e;
}
